.imageFootboler {
    max-width: 95%;
    max-height: 95%;
    transform: scale(0);
    animation: 1s hideImage linear;
    transition: transform 0.7s;
}

div.cardBox  {
    width: 130px; 
    height: 180px;
    background-image: url('../../../public/images/back-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    animation: 1s hideCard linear;
    transition: transform 0.7s;
}

.active{
    transform: rotateY(0deg) !important;
}

.active .imageFootboler{
    transform: scale(1);
}

div.wrong{
    background-image: none !important;
    background: red;
}

div.correct{
    background-image: none !important;
    background: rgb(17, 209, 0);
}



@keyframes hideImage {

    0%,
    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}



@keyframes hideCard {

    0%,
    70% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}